.gridStatsItem {
  display: grid;
  padding: 20px;
}
.gridAvatar {
  justify-content: center;
}

.gridStatsItemImg{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spanItem {
  font-size: 30px;
}
.points {
  justify-content: center;
  background: linear-gradient(45deg, rgba(154,118,78,1) 34%, rgba(122,122,122,1) 64%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px #333;
}
