.gridStatsItem {
  white-space: nowrap;
  display: grid;
  padding: 20px;
  position: relative;
  justify-content: center;
  align-items: center;

}
.index{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  left: -15px;
  background-color:#9A764E;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0 3px 1px 1px #363636;
}
.gridAvatar {
  cursor: pointer;
  justify-content: center;
}
.avatarka {
  transition: all .43s ease-in-out;
}
.avatarka:hover {
  z-index: 10000;
  transform: scale(2);
}
.gridStatsItemImg {
 /* background-color: #333; */
  border-radius: 10px;
  padding: 5px 5px 20px 5px;
  width: 100px;
  height: 115px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
    border: 2px solid #fff;
  /* box-shadow: 1px 2px 2px 1px #333; */
}
.noAvatar {

  padding: 5px 5px 20px 5px;
  width: 100px;
  height: 85px;
  background-color:#333;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #333; */

  /* box-shadow: 1px 2px 2px 1px #333; */
}
.noAvatarScale {
  transform: scale(2.2);
  margin: 10px 0 0 0;
  
}
.spanItem {
  border: 2px solid #fff;
  font-size: 42px;
  color: #fff;
  background-color: #333;
  /* box-shadow: 1px 2px 2px 1px #333; */
  border-radius: 10px; 

}
.points {
  color: #fff;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
    /* box-shadow: 0 3px 1px 1px #363636; */
  /* box-shadow: 1px 2px 2px 1px #333; */
}
.points div {
  border-radius: 10px;
  border: 2px  solid #fff;
  background-color:#9A764E;
  width: 133px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.points div span{
  font-size: 42px;
}
@media screen and (max-width: 1000px) {
  .gridStatsItem {
    white-space: pre-wrap
  }
}
