
.navBar-enter-active {
  animation: logout-navBar 400ms forwards;
}

.navBar-exit-active {
  animation: logout-navBar 400ms alternate-reverse;
}

@keyframes logout-navBar {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

