ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  flex-flow: row wrap;
  display: flex;
  transition: all 3.33s ease-in;
}

li {
  float: left;
}

li a {
  font-size: 30px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.righted {
  flex-grow: 0;
  order: 100;
  margin-left: auto;
}
/* #9A764E */

.itemWrapper{
  display: none;
}

.logoWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
 
}
.logoWrapper img {
  bottom: 20px;
  left: 20px;
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 10000000;
}
.modalContent {
  padding: 8px 8px 9px 8px;
  background-color: rgb(255, 255, 255);
  animation: show-modal 800ms forwards ease-in-out; 
  z-index: 10000000000000000;
  display: flex;
  flex-direction: row;
}

.spinnerModal {
  position: fixed;
  top: 0;
  left: 0;
}

.modalRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.miniaAvatar {
  width: 45px;
  height: 45x;
  border-radius: 50%;
}



.btnSmall{
  margin-left: 5px;
  position: relative;
  top: 5px;
  left: -10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: .22s ease-in-out;
}
.btnSmall:before{
  background-color:#000000;
  top: 14px;
  left: 2px;
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  transform: rotate(45deg);
}
.btnSmall::after{
  background-color:#020202;
  top: 14px;
  left: 2px;
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  transform: rotate(-45deg);
}
@media screen and (max-width: 1000px) {
  
  ul{
    flex-direction: column;
  }
  .righted {
    flex-grow: unset;
    order: unset;
    margin-left: unset;
  }
  li a {
    font-size: 54px;
  }
  .modalContent {
    display: flex;
    justify-content: center;
  }
  .itemWrapper{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoWrapper img {
    top: 10px;
    left: 10px;
    position: fixed;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 100000;
  }
}
