@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.container {
  position: relative;
}

.modalWrap {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


