.formImg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}
.formImg img {
  /* animation-play-state: paused; */
  /* animation-name: cityKong;
  animation-duration: 0.75s;
  animation-delay: 1500ms;
  animation-iteration-count: 1; */
}


@media screen and (max-width: 1000px) {
  .formImg img {
    /* transform: rotate(90deg); */
    transform: scale(2);
  }
}
