.formImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
}
.formImg img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1000px) {
  .formImg {
    position: relative;
    top: -300px;
  }
}
