.mapContainer {
  height: 100vh;
  /* width: 100vw; */
  top:0;
  left: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modalContent {
  position: absolute;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  animation: show-modal 800ms forwards ease-in-out; 
  z-index: 10000000000000000;
  padding: 10px;
}
@keyframes show-modal {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.spinnerModal {
  position: fixed;
  top: 0;
  left: 0;
}

.righted {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.btnSmall{
  position: relative;
  top: -10px;
  left: -12px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: .22s ease-in-out;
}
.btnSmall:before{
  background-color:#9A764E;
  top: 14px;
  left: 8px;
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  transform: rotate(45deg);
}
.btnSmall::after{
  background-color:#9A764E;
  top: 14px;
  left: 8px;
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  transform: rotate(-45deg);
}
.map {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
@media screen and (min-width: 1800px) {
  .map {
    margin: 40rem;
  }
}
