.auctionText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(154, 118, 78, 1);
  color: #fff;
  margin-left: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 3px 3px #363636;
  font-size: 2rem;
}

.gameContainer {
  height: 100vh;
  left: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
  z-index: 1001;
  margin-top: 1rem;
}

.modalContent {
  position: absolute;
  padding: 0 20px 20px 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 10000000000000000;
}

.spinnerModal {
  position: fixed;
  top: 0;
  left: 0;
}
.map {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.righted {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.counter {
  display: flex;
  position: relative;
  margin: 10px 0 0 15px;
  flex-direction: row;
  z-index: 9999999;
}
.counter div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(154, 118, 78, 1);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 3px 3px #363636;
}
.btnSmall {
  position: relative;
  top: -20px;
  left: -20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.22s ease-in-out;
}
.btnSmall:before {
  background-color: #9a764e;
  top: 14px;
  left: 8px;
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  transform: rotate(45deg);
}
.btnSmall::after {
  background-color: #9a764e;
  top: 14px;
  left: 8px;
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  transform: rotate(-45deg);
}
.googleMap {
  position: relative;
  width: auto;
  height: auto;
}
.btnThisIsLocation {
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

@media screen and (max-width: 1000px) {
  .gameContainer {
    margin-bottom: 10rem;
    margin-top: 25rem;
    flex-direction: column;
    height: 85vh;
    justify-content: start;
    align-items: center;
  }
  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
  }
  .auctionText {
    margin: 0;
    margin-top: 2rem;
  }
}

.wrapperPanorama {
  width: 100%;
  height: 100%;
  position: relative;
}

.gameButtonLike {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
