/* 
'entering'
'entered'
'exiting'
'exited' */

.modal-enter-active {
  z-index: 1000;
  position: absolute;
  animation: gameModalShow 700ms forwards;
}
.modal-enter-done {
  z-index: 1000;
  position: absolute;
  animation: gameModalScale 700ms alternate-reverse;
}
.modal-exit-active { 
  z-index: 1000;
  position: absolute;
  animation: gameModalShow 700ms alternate-reverse;
}
@keyframes gameModalShow {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  50% {
    transform: translateY(100px);
    transform: scale(2.2);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes gameModalScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
