.scoreAnimation-enter-active {
  animation: scoreAnimation 400ms forwards;
}

.scoreAnimation-exit-active {
  animation: scoreAnimation 400ms alternate-reverse;
}
@keyframes scoreAnimation {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.auction-enter-active {
  animation: auction 400ms forwards;
}

.auction-exit-active {
  animation: auction 400ms alternate-reverse;
}
@keyframes auction {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
